.app {  
  margin: 50; 
  justify-content: center;
  text-align: center;
  padding: 50px;
  background-image: url("pokegrass.jpg");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
}

.button {
  position: fixed;
  margin-top: 800px;
}

@font-face {
  font-family: "PokemonHollow";
  src: local("PokemonHollow"),
   url("./Fonts/PokemonHollow.ttf") format("truetype");
 }

 @font-face {
  font-family: "PokemonSolid";
  src: local("PokemonSolid"),
   url("./Fonts/PokemonSolid.ttf") format("truetype");
 }

 .pokefontsHollow {
  font-family: "PokemonHollow";
  font-size: 400;
 }

 .pokefontsSolid {
  font-family: "PokemonSolid";
  font-size: 200000;
 }

 .info {
  display: flex;
 }

 .title {
  padding-top: 50px;
 }