.app {  
  margin: 50; 
  justify-content: center;
  text-align: center;
  padding: 50px;
  background-image: url("pokegrass.jpg");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
}

.button {
  position: fixed;
  margin-top: 800px;
}

@font-face {
  font-family: "PokemonHollow";
  src: local("PokemonHollow"),
   url("./Fonts/PokemonHollow.ttf") format("truetype");
 }

 .pokefonts {
  font-family: "PokemonHollow";
  font-size: 400;
 }